* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}
div {
  padding: 10px;
  float: left;
}
section {
  height: 125px;
  background-color: #999999;
  border: 2px solid #000000;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 110%;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
}
p {
  clear: both;
  border: none;
  padding: 10px;
}
.entree {
  float: right;
  text-align: center;
  padding: 4px;
  width: 48%;
  margin: 0px;
}
#chicken {
  background-color: #cf8429;
}
#beef {
  background-color: #eb3838;
}
#fish {
  background-color: #a1a646;
}
/* Desktop View */
@media (min-width: 992px) {
        .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  /* Tablet View */
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  /* Mobile View */
  @media (max-width: 767px) {
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 74.99%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
  }